<h1> Add A Comment for <%= @item.name %> </h1>

<%= form_for [@item, @comment] do |f| %>
  <%= f.label :body %>
  <%= f.text_area :body, required: true %>
  <br />
  <br />
  <%= f.label :author, required: true %>
  <%= f.text_field :author, placeholder: 'Must enter a name' %>
  <br />
  <br />
  <%= f.label :rating %>
  <%= f.select :rating, [1,2,3,4,5] %>
  <br />
  <br />
  <%= f.submit %>
<% end %>
<br />
<br />
<%= link_to 'Cancel', department_item_path(@item.department_id, @item) %>