<h1> <%= @department.name %> </h1>
<%= link_to 'Create New Item', new_department_item_path(@department) %>
<hr />
  <ul>
  <% @department.items.each do |item| %>
  <li>
    <%= link_to item.name, department_item_path(@department, item) %>
    </li>
    <% end %>
  </ul>
<hr />
<%= link_to 'Edit Department Name', edit_department_path(@department) %>
<%= link_to 'Delete Department', @department, method: :delete %>
<%= link_to 'Back', departments_path %>