<h1> <%= @department.name %> </h1>
<hr />
<table>
  <thead>
    <tr>
      <td> Item Name </td>
      <td> Quantity </td>
      <td> Category </td>
      <td> Price </td>
    </tr>
  <tbody>
    <tr>
      <td> <%= @item.name %> </td>
      <td> <%= @item.qty %> </td>
      <td> <%= @item.category %> </td>
      <td> $<%= @item.price %> </td>
    </tr>
  </tbody>
</table>
<hr />

<h4> Comments </h4>
<button> <%= link_to 'Add a Comment', new_item_comment_path(@item) %> </button>

<% @item.comments.each do |comment| %>
  <%= render 'comments/comment', { comment: comment } %>
<% end %>

<button> <%= link_to 'Edit Item', edit_department_item_path(@department, @item) %> </button>
<button> <%= link_to 'Delete Item', [@department, @item], method: :delete %> </button>
<button> <%= link_to "Back to #{@department.name}", department_path(@department) %> </button>
    

